<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_DOCUMENTS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    
    <application
        android:name=".utils.RojgaarwalaApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rojgaarwaala"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">

        <!-- Firebase Messaging Service -->
        <service
            android:name=".utils.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".presentation.ui.activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Rojgaarwaala.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.activity.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoSplash"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="rojgaarwaala" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.activity.ProductDetailsActivity"
            android:theme="@style/AppTheme.NoSplash"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".presentation.ui.activity.LoginActivity"
            android:theme="@style/AppTheme.NoSplash"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".presentation.ui.activity.RegisterActivity"
            android:theme="@style/AppTheme.NoSplash"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".presentation.ui.activity.ProfileActivity"
            android:theme="@style/AppTheme.NoSplash"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <activity
            android:name=".presentation.ui.activity.VideoPlayerActivity"
            android:theme="@style/AppTheme.NoSplash"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".presentation.ui.activity.OtpActivity"
            android:theme="@style/AppTheme.NoSplash"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".presentation.ui.activity.CategoryVideosActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".presentation.ui.activity.ImageViewerActivity"
            android:theme="@style/AppTheme.NoSplash"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".presentation.ui.activity.ImagesListActivity"
            android:theme="@style/AppTheme.NoSplash"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".presentation.ui.activity.StoriesListActivity"
            android:theme="@style/AppTheme.NoSplash"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel" />

    </application>

</manifest>